@import "./utils/variables";
@import "./utils/visually-hidden";

@import "./layouts/body-header";
@import "./layouts/workshop/hero";
@import "./layouts/workshop/benefits";
@import "./layouts/workshop/projects";
@import "./layouts/workshop/team";
@import "./layouts/workshop/clients";
@import "./layouts/footer";
@import "./layouts/workshop/modal-window";
@import "./layouts/portfolio/portfolio";
