/* <!-- Кнопки фільтра --> */

.button-menu__btn {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  list-style: none;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;

  transform: scale(1);
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    transform: scale(1.1);
  }
}

.button-menu__item:not(:last-child) {
  margin-right: 8px;
}

.button-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-top: 94px;
  margin-bottom: 50px;
}

/* Проєкти */

.services {
  list-style: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
  flex-wrap: wrap;
  margin-bottom: 94px;
  display: flex;
  margin-left: calc(-1 * var(--project-gap));
  margin-top: calc(-1 * var(--project-gap));
}

.services__item {
  flex-basis: calc(100% / 3 - var(--project-gap));

  margin-left: var(--project-gap);
  margin-top: var(--project-gap);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.services__card-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0px;
  margin-bottom: 4px;
  display: block;
}

.services__card-text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin: 0px;
  display: inline;
}

.services__card-content {
  padding: 20px 24px;
  margin: 0;
}

.services__card-link {
  text-decoration: none;
  display: inline-block;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

  &:hover .services__overlay,
  &:focus .services__overlay {
    transform: translateY(0);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.services__card {
  position: relative;
  overflow: hidden;
}

.services__overlay {
  position: absolute;
  transform: translateY(101%);
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  opacity: 0.9;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
}

.services__card-desc {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: #ffffff;
}
