/* Клієнти */

.container__clients {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  padding-top: 60px;
  color: #ffff35;
}

.clients__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}

.clients__list {
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 479px) {
    margin-bottom: -15px;
  }

  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin: -15px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;

  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border-color, fill, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);

    transform: scale(1.2);
  }

  @media screen and (max-width: 479px) {
    margin-bottom: 15px;
  }

  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 4 * 15px)) / 2;
    width: 210px;
    margin: 15px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 6 * 15px)) / 3;
    width: 226px;
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 12 * 15px)) / 6;
    width: 170px;
    margin: 15px;
  }
}

.clients__icon {
  display: flex;
}
